.fotito {
    width: 70%;

    margin-top: 32px;
    border: 1px black solid;
    padding: 0%;
}

ul li {
    display: inline-block;
    margin-right: 20px;
    font-size: 20px;
}

ul {
    padding-left: 0px;
    margin-left: 0px;
    margin-bottom: 30px;
}

.circulo {
    background-color: grey;
    width: 50px;
    display: inline-block;
    border-radius: 100%;
    border: black 1px solid;
    margin-bottom: 30px;
    margin-right: 10px;
}

.circulo2 {
    background-color: darkgreen;
    width: 50px;
    display: inline-block;
    border-radius: 100%;
    border: black 1px solid;
    margin-bottom: 30px;
}

.cora {
    padding-left: 0px;
    padding: 0%;
    font-size: 20px;
    padding-right: 0%;
}

.barrita {
    display: inline-block;
}

h2 {
    margin-top: 30px;
    margin-bottom: 40px;
    margin-left: 10px;
    font-size: 40px;
}

.precio {
    font-size: 25px;
    margin-top: 10px;
    margin-bottom: 30px;
    color: black;

}

.talle {
    font-size: 20px;
    margin-bottom: 10px;
}



.comprarB {
    width: 100%;
    background-color: rgb(12, 197, 12);
    color: white;
    border: 2px solid rgb(12, 197, 12);
    border-radius: 5%;
}

.comprarB:hover {
    border: 2px solid white;
        
}

.mini {
    width: 100%;
    margin-left: 20px;
    margin-top: 32px;
    border: 1px black solid;
}

.comprar {
    padding-left: 0px;
}

.partes {
    background-color: lightslategrey;
    padding-left: 10%;
    color: white;
}

.addTo {
    background-color: lightslategrey;
    color: white;
    border: lightslategrey 0.3px solid;
    margin-bottom: 5%;
    margin-top: 28.5%;
    margin-left: 0.18%;
}

.addTo:hover {
    color: black;
}

.cora {
    margin-top: 28%;
    margin-left: 0.18%;
}



@media (max-width: 576px) {
    .fotito {
        width: 50%;
        margin-top: -170px;
        margin-left: 93px;

    }

    .mini {
        width: 100%;
        margin: 0%;
        margin-bottom: 5%;
    }

    .contMini {
        padding: 0%;
        margin: 0%;
    }

    .contFotito {
        padding: 0%;
        margin: 0%;
    }
}


