.base {
    background-color: rgb(0, 0, 0);
    color: white;
}

.izquierda {
    border: 2px solid black;
}

.derecha {
    padding: 0px;
}

.del-footer {
    color: white !important;
    margin: 0px;
}

section h2 {
    color: black;
    text-align: center;
    padding-top: 10px;
}


.underfooter {
    text-align: center;
    bottom: 10px;
}

.blueTo {
    color: white !important;
}

section div div {
    text-align: center;
}

.redes {
    border: 2px solid black;
    text-align: center;
}

.redessociales {
    display: flex;
    padding-bottom: 25px;

}

.contact {
    border: 2px solid black;
    text-align: center;
}

.contacto label {
    text-align: center;
}

.fb {
    max-width: 40px;
    max-height: 40px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.inst {
    max-width: 45px;
    max-height: 45px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.tw {
    max-width: 40px;
    max-height: 40px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.hs {
    max-width: 45px;
    max-height: 45px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.sm {
    max-width: 45px;
    max-height: 45px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.ct {
    max-width: 45px;
    max-height: 45px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.def {
    text-align: center;
}

.parte2 {
    background-color: rgb(46, 46, 46);
    padding-top: 20px;
}

.abc {
    padding-bottom: 15px;
}


@media (min-width: 992px){
    .contacto{
        padding: 0px 10px;
        display: flex;
    }
}