

body {

    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    background-color: white;
  }
  
  .New-Arrivals{
    text-align: center;
    border-top: solid black 2px;
    margin-top: 15px;
    margin-bottom: 20px;
    padding-top: 10px;
  }
  .fotitos{
    width:90%;
  }
  
  .productos{
    display:inline-block;
    max-width: 24%;
  }
  
  .tendencias{
    text-align: center;
    margin-top: 10px;;
    margin-bottom: 20px;
  }

  
  div.contenedor{
    background-color: rgb(233, 231, 231);
    padding-top: 20px;
    padding-bottom: 20px;
  }
  
  .buttons{
    font-size: 150%;
    color:white;
    text-align: center;
  
  
  }
  div.botonera-izquierda.col-1{
    margin-left: 23px;
    padding-left: 2px;
    margin-right: 10px;
    text-align: center;
    top:19px;
  }
  .botonera-izquierda-hombre{
    color:white;
    text-align: center;
  
    top:19px;
    
  
  }
  .botonera-izquierda-logo{
    color:white;
    text-align: center;
    margin-left: 10px;
    top:19px;
  }
  .div-buscador{
    margin-top: 10px;
  }
  .buttons:hover{
    border-bottom: solid white 3px;
    border-top: solid white 3px;
  }
  
  .navigate-bar{
    bottom:10px
  }
  div.shopbag.col-6{
    bottom:16px;
    display: inline-block;
  }
  
  div.div-buscador.offset-3.col-3{
    float:left;
  }
  .shopbag{
    display: inline-block;
    padding-right: 0px;
    padding-left:14px;
    top:-13px;
  }
  .searchitems{
    display: inline-block;
    padding-right: 0px;
    padding-left:14px;
    top:-13px;
  }
  .campera{
    display: inline-block;
    max-width: 24%;
    
  }
  .camisa{
  display: inline-block;
  max-width: 24%;
  }
  .sweaternaranja{
  display:inline-block;
  max-width: 24%;
  }
  .remera{
    display:inline-block;
    max-width: 24%;
  }
  @media (max-width: 768px){
    .productos{
      display: inline-block;
      max-width: 49%;
    }
  }
  @media (max-width: 500px){
    .productos{
      display: inline-block;
      max-width: 100%;
    }
  }
  @media (max-width:1100px){
  .buttons{
      font-size: 144%;
    }
  }
  @media (max-width:1100px){
    .buttons{
        font-size: 144%;
      }
    }
    @media (max-width:936px){
      .buttons{
          font-size: 110%;
        }
      }
        @media (min-width:1200px){
          .offset-xl-3{
            margin-left: 22%;
          }
        }
        .banner{
          height:50% ;
        }