body{
    background-color: white;
    
    }
    
    .container:hover{
        border: black 1px solid;
    }
    
    .container{
        padding: 30px;
        padding-top:15px;
        margin-top: 5%;
        background-color: rgb(194, 185, 185);
        padding-top:15px;
    
    }
    h3{
        color:black;
        font-size: 20px;
    }
    .button{
        margin-top: 10px;
    }
    h2{
        align-items: center;
        color: black;
        display: inline-block;
        text-align: center;
        
    }
    .crearcuenta{
        margin-left: 0%;
        text-align: center;
    }
    input.col-10{
        margin-bottom:10px;
    }
    .descripcion{
        margin: 0px;
        padding: 0px;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    h4{
        font-size: 15px;
        text-align: center;
        color: black;
    }
    .button.col-8{
        margin-top: 30px;
    }
    h5{
        color: black;
    }
    .exitbutton:hover{
        text-decoration: none;
        color: white;
    }
    .exitbutton{
        color: white;
        margin-left:5px;
        
    }
    
    
    
    li{
        list-style: none;
    }
    
    
    .bandiv{
        border-left: 2px solid black;
        padding-left: 0%;
    
    }
    
    
    
    
    .contenedor {
        color: black;
      }
      .nav-li{
        display: inline-block;
      }
      li{
        display: inline-block;
      }
      .botoneraizquierda{
        font-size: 25px;
      }
      .nav-bar-items{
        color: white;
      
        border-bottom: solid 0.5px white;
        border-top: solid 0.5px white;
        margin-top: 15px;
      
        cursor: pointer;
        text-decoration: none;
      }
      
      .nav-bar{
        padding-inline-start: 0px;
        display: flex;
        flex-wrap: wrap;
      }
      
      ul.nav-bar{
        margin-top: 0px;
        height: 80px;
        padding-top: 10px;
        padding-bottom: 10px;
        display: inline-block;
      }
      .botonera {
        background-color: black;
        padding-top: 10px;
        padding-bottom: 10px;
      }
      a:-webkit-any-link {
        color:white;
        text-decoration: none;
      }
      
      
      .search-form {
        position: relative;
        display: flex;
        align-items: center;
      }
      
      .search-form_input {
        border: solid 1px var(--light-gray);
        display: block;
        width: 100%;
        padding: 7px 35px 7px 7px;
        border-radius: 3px;
        height: 40px;
        font-size: 1.5em;
        margin-left: 0px;
        
      }
      
      .search-form_button {
        position: absolute;
        right: 2px;
        height: 60%;
        background-color: #ffffff;
        border: none;
        border-left: solid 1px var(--light-gray);
        color: var(--gray);
        cursor: pointer;
      }
      
    
      .buttons{
        font-size: 150%;
        color:white;
        text-align: center;
      
      
      }
      div.botonera-izquierda.col-1{
        margin-left: 23px;
        padding-left: 2px;
        margin-right: 10px;
        text-align: center;
        top:19px;
      }
      .botonera-izquierda-hombre{
        color:white;
        text-align: center;
      
        top:19px;
        
      
      }
      .botonera-izquierda-logo{
        color:white;
        text-align: center;
        margin-left: 10px;
        top:19px;
      }
      .div-buscador{
        margin-top: 10px;
      }
      .buttons:hover{
      
        border-bottom: solid white 3px;
        border-top: solid white 3px;
      
      }
      
      
      .navigate-bar{
        bottom:10px
      }
      div.shopbag.col-6{
        bottom:16px;
        display: inline-block;
      }
      
      
      div.div-buscador.offset-3.col-3{
        float:left;
      }
      .shopbag{
        display: inline-block;
        padding-right: 0px;
        padding-left:14px;
        top:-13px;
      }
      .searchitems{
        display: inline-block;
        padding-right: 0px;
        padding-left:14px;
        top:-13px;
      }
    .contenedor{
      margin-bottom: 10%;
    }
    @media (max-width: 840px) {
      h3 {

          font-size: 10px;

      }
    }
    h3 {

      font-size: 10px;

  }

.ERROR{
    text-align: center;
    color: red;
}
@media (max-width: 777px) {
  h2{
    font-size: 20px !important;
  }
  h3 {

      font-size: 15px !important;

  }
  h4{
    font-size:15px !important;
  }
  h5{
    font-size: 15px !important;
  }
}
@media (max-width: 614px) {
  h4 {

      font-size: 10px !important;

  }
  h3{
    font-size: 10px !important;
  }
  h2{
    font-size: 15px !important;
  }
  h5{
    font-size: 10px !important;
  }
}