
    <div class="container-fluid base">
        <div class="row">
            <section class="col-5 info">
                <h2>Mas informacion de la empresa</h2>
                <br>
                <p>Esta empresa es un emprendimientos de tres estudiantes
                    con <br> el objetivo de hacer ropa para jovenes que quieran
                    vestirse <br> con ropa con estilo, sin perjudicar el ambiente.</h5>
            </section>
            <section class="col-3 redessociales">
                <h2>Redes sociales</h2>
                <div class="col-12 redes">
                    <img class="fb" src="/images/fb.png" alt="">
                    <label><strong>Seguinos en facebook</strong></label>
                </div>
                <div class="col-12">
                    <img class="inst" src="/images/insta.png" alt="">
                    <label><strong>Seguinos en Instagram</strong></label>
                </div>
                <div class="col-12">
                    <img class="tw" src="/images/tw.png" alt="">
                    <label><strong>Seguinos en Twitter</strong></label>
                </div>
            </section>
            <section class="col-3">
                <h2>Contacto</h2>
                <div class="col-12">
                    <img class="hs" src="/images/house.png" alt="">
                    <label class="local">Buenos Aires, Argentina</label>
                </div>
                <div class="col-12">
                    <img class="sm" src="/images/smartphone.png" alt="">
                    <label>+549 1165-4587</label>
                </div>
                <div class="col-12">
                     <img  class="ct" src="/images/contact.png" alt="">
                     <label>Logo@hotmail.com</label>
                </div>
    
            </section>
        </div>
    
        <div class="row parte2">
            <section class="col-6 copyright">
                © 2020 Todos los Derechos Reservados | Marcaida, Ortiz, Garcia Paz
            </section>
            <section class="col-6 politica">
                 <a href="">Información de Compañia</a> | <a href="">Politica de privacidad</a> | <a href="">Terminos y Condiciones</a>
            </section>
        </div>
    </div>
 
    
     <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
     <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
     <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
</body>
</html>