<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('partials/head') %>
  <link rel="stylesheet" href="/stylesheets/index.css">
</head>
<body>
  <%- include('partials/header') %>
        <div class = 'newarrivals container-fluid'>
          <div class='  row'>
            <div class='col-12'>
              <h3 class='New-Arrivals'>NUEVA TEMPORADA</h3>
            </div>
        
         
          </div>
        </div>
        <div class = "container-fluid">
          <div class = 'row'>
            <div class= 'contenedor col-12'>
              <div class='productos col-6'>
        
                <a href=''><img class = 'fotitos'src="/images/Camisa.jpg" alt=""></a>
                <div class='col-12'>Camisa Bowie</div>
                <div class='col-12'>$3000</div>
              </div>
              <div class='productos col-6'>
                <a href=''><img class = 'fotitos'src="/images/Campera.jpg" alt=""></a>
                <div class='col-12'>Campera Ride Camo</div>
                <div class='col-12'>$4000</div>
              </div>
              <div class='productos col-6'>
                <a href=''><img class = 'fotitos'src="/images/Remera.jpg" alt=""></a>
                <div class='col-12'>Remera Cleveland Army</div>
                <div class='col-12'>$1300</div>
              </div>
              <div class='productos col-6'>
                <a href=''><img class = 'fotitos'src="/images/Sweter.jpg" alt=""></a>
                <div class='col-12'>Sweter Denim Divided</div>
                <div class='col-12'>$1700</div>
              </div>
            </div>
          </div>
          <div class="tendencias container-fluid">
            <div class = 'row'>
              <div class ='col-12'>
                <h3 class="Ultimas-tendencias">ÚLTIMAS TENDENCIAS</h3>
              </div>
            </div>
          </div>
        </div>
        <div class = "container-fk">
          <div class = 'row'>
            <div class= 'contenedor col-12 '>
              <div class='productos col-xl-3 col-lg-3 col-md-6'>
                <a href=''><img class = 'fotitos'src="/images/buzos.jpg" alt=""></a>
              </div>
              <div class='productos col-xl-3 col-lg-3 col-md-6'><a href=''><img class = 'fotitos'src="/images/denim.jpg" alt=""></a>
        
              </div>
              <div class='productos col-xl-3 col-lg-3 col-md-6'><a href=''><img class = 'fotitos'src="/images/remeras.jpg" alt=""></a>
        
              </div>
              <div class='productos col-xl-3 col-lg-3 col-md-6'><a href=''><img class = 'fotitos'src="/images/abrigos.jpg" alt=""></a>
        
              </div>
            </div>
          </div>
        
        </div>



<%- include('partials/footer')  %>

</body>
</html>