<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Footer Design</title>

    <link rel="stylesheet" href="stylesheets/estilosFooter.css">

    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
</head>
<body>

    <footer>

       <div class="container-footer-all">

            <div class="container-body">

                <div class="colum1">
                    <h1>Mas información de la compañia</h1>

                    <p>Esta empresa es un emprendimientos de tres estudiantes
                      con el objetivo de hacer ropa para jovenes que quieran
                      vestirse con ropa con estilo, sin perjudicar el ambiente.
                    </p>

                </div>

                <div class="colum2">

                    <h1>Redes Sociales</h1>

                    <div class="row">
                        <img class="fb" src="images/fb.png">
                        <label><strong>Seguinos en Facebook</strong></label>
                    </div>
                    <br>
                    <div class="row">
                        <img class="tw" src="images/tw.png">
                        <label><strong>Seguinos en Twitter</strong></label>
                    </div>
                    <br>
                    <div class="row">
                        <img  class="insta" src="images/insta.png">
                        <label><strong>Seguinos en Instagram</strong></label>
                    </div>
                    

                </div> 

                <div class="colum3">

                    <h1>Informacion Contactos</h1>

                    <div class="row2">
                        <img src="images/house.png">
                        <label>Ciudad Autonoma de Buenos Aires, 
                        Argentina
                        Pirovano 289</label>
                    </div>

                    <div class="row2">
                        <img src="images/smartphone.png">
                        <label>+549-11-6689-3456</label>
                    </div>
                    <br>
                    <div class="row2">
                        <img src="images/contact.png">
                         <label>marca@gmail.com</label>
                    </div>

                </div>

            </div>

        </div>

        <div class="container-footer">
               <div class="footer">
                    <div class="copyright">
                        © 2020 Todos los Derechos Reservados | <a href="">Marcaida, Ortiz, Garcia Paz</a>
                    </div>

                    <div class="info">
                        <a href="">Información de Compañia</a> | <a href="">Politica de privacidad</a> | <a href="">Terminos y Condiciones</a>
                    </div>
                </div>

            </div>

    </footer>

</body>
</html>