<!DOCTYPE html>
<html lang="en">
<head>
 <%- include('partials/head') %> 
        <link rel="stylesheet" href="stylesheets/index.css">

</head>
<body>

  <%- include("./partials/header") %>
        
        <div class = 'newarrivals container-fluid'>
          <div class='  row'>
            <div class='col-12'>
              <h3 class='New-Arrivals'>NUEVA TEMPORADA</h3>
            </div>
        
         
          </div>
        </div>
        <div class="row">
          <section class="cajaP col-xs-10 col-sm-5 col-lg-3">
              <div class="row">
              <section class="col-12">
                  <a href="/products/detalle"><img class="fotitos" src="/images/Campera.jpg" alt="Campera"></a>
              </section>
              <section class="nombreP col-12">
                  Campera militar
                  </section>
              <section class="precioP col-9">
                  <del> 13.000$ </del> 
              </section>

                  <button class="cora col-xs-10 offset-lg-1 col-lg-5" type="submit">Add to <svg class="bi bi-heart-fill" width="1em" height="1em" viewBox="0 0 16 16" fill="white" xmlns="http://www.w3.org/2000/svg">
                      <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z" clip-rule="evenodd"/>
                    </svg></button>
                  <button class="bolsa col-xs-12 col-lg-5">Add to <svg class="bolsita bi-bag-fill" width="1em" height="1em" viewBox="0 0 16 16" fill="black" xmlns="http://www.w3.org/2000/svg">
                      <path d="M1 4h14v10a2 2 0 01-2 2H3a2 2 0 01-2-2V4zm7-2.5A2.5 2.5 0 005.5 4h-1a3.5 3.5 0 117 0h-1A2.5 2.5 0 008 1.5z"/>
                    </svg></button>
              </div>
          </section>
          <section class="cajaP col-xs-10 col-sm-5 col-lg-3">
              <div class="row">
              <section class="col-12">
                  <a href="/products/detalle"><img class="fotitos" src="/images/Camisa.jpg" alt="Campera"></a>
              </section>
              <section class="nombreP col-12">
                  Campera militar
              </section>
              <section class="precioP col-9">
                  <del> 13.000$ </del> 
              </section>

                  <button class="cora col-xs-12 offset-lg-1 col-lg-5" type="submit">Add to <svg class="bi bi-heart-fill" width="1em" height="1em" viewBox="0 0 16 16" fill="white" xmlns="http://www.w3.org/2000/svg">
                      <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z" clip-rule="evenodd"/>
                    </svg></button>
                  <button class="bolsa col-xs-12 col-lg-5">Add to <svg class="bolsita bi-bag-fill" width="1em" height="1em" viewBox="0 0 16 16" fill="black" xmlns="http://www.w3.org/2000/svg">
                      <path d="M1 4h14v10a2 2 0 01-2 2H3a2 2 0 01-2-2V4zm7-2.5A2.5 2.5 0 005.5 4h-1a3.5 3.5 0 117 0h-1A2.5 2.5 0 008 1.5z"/>
                    </svg></button>
              </div>
          </section>
          <section class="cajaP col-xs-10 col-sm-5 col-lg-3">
              <div class="row">
              <section class="col-12">
                  <img class="fotitos" src="/images/Sweter.jpg" alt="Swetter">
              </section>
              <section class="nombreP col-12">
                  Swetter Moztasa
              </section>
              <section class="precioP col-9">
                  <del> 6.700$ </del> 
              </section>

                  <button class="cora col-xs-12 offset-lg-1 col-lg-5" type="submit">Add to <svg class="bi bi-heart-fill" width="1em" height="1em" viewBox="0 0 16 16" fill="white" xmlns="http://www.w3.org/2000/svg">
                      <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z" clip-rule="evenodd"/>
                    </svg></button>
                  <button class="bolsa col-xs-12 col-lg-5">Add to <svg class="bolsita bi-bag-fill" width="1em" height="1em" viewBox="0 0 16 16" fill="black" xmlns="http://www.w3.org/2000/svg">
                      <path d="M1 4h14v10a2 2 0 01-2 2H3a2 2 0 01-2-2V4zm7-2.5A2.5 2.5 0 005.5 4h-1a3.5 3.5 0 117 0h-1A2.5 2.5 0 008 1.5z"/>
                    </svg></button>
              </div>
          </section>
       
          
          <section class="cajaP col-xs-10 col-sm-5 col-lg-3">
            <div class="row">
            <section class="col-12">
                <img class="fotitos" src="/images/Remera.jpg" alt="Swetter">
            </section>
            <section class="nombreP col-12">
                Swetter Moztasa
            </section>
            <section class="precioP col-9">
                <del> 6.700$ </del> 
            </section>

                <button class="cora col-xs-12 offset-lg-1 col-lg-5" type="submit">Add to <svg class="bi bi-heart-fill" width="1em" height="1em" viewBox="0 0 16 16" fill="white" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z" clip-rule="evenodd"/>
                  </svg></button>
                <button class="bolsa col-xs-12 col-lg-5">Add to <svg class="bolsita bi-bag-fill" width="1em" height="1em" viewBox="0 0 16 16" fill="black" xmlns="http://www.w3.org/2000/svg">
                    <path d="M1 4h14v10a2 2 0 01-2 2H3a2 2 0 01-2-2V4zm7-2.5A2.5 2.5 0 005.5 4h-1a3.5 3.5 0 117 0h-1A2.5 2.5 0 008 1.5z"/>
                  </svg></button>
            </div>
        </section>
 </div>
      </div>
      <div class = 'newarrivals container-fluid'>
        <div class='  row'>
          <div class='col-12'>
            <h3 class='New-Arrivals'>ULTIMAS TENDENCIAS</h3>
          </div>
          <section class="cajaP col-xs-10 col-sm-5 col-lg-3">
            <div class="row">
            <section class="col-12">
                <a href=''><img class="fotitos" src="/images/remeras.jpg" alt="Swetter"></a>
            </section>

            </div>
        </section>
        <section class="cajaP col-xs-10 col-sm-5 col-lg-3">
          <div class="row">
          <section class="col-12">
              <a href=''><img class="fotitos" src="/images/denim.jpg" alt="Swetter"></a>
          </section>

          </div>
      </section>
      <section class="cajaP col-xs-10 col-sm-5 col-lg-3">
        <div class="row">
        <section class="col-12">
            <a href=''><img class="fotitos" src="/images/buzos.jpg" alt="Swetter"></a>
        </section>

        </div>
    </section>
    <section class="cajaP col-xs-10 col-sm-5 col-lg-3">
      <div class="row">
      <section class="col-12">
          <a href=''><img class="fotitos" src="/images/abrigos.jpg" alt="Swetter"></a>
      </section>

      </div>
  </section>
     
       </div>
      </div>


   
  
  </body>

</body>
</html>



<%- include("./partials/footer") %>

