<!DOCTYPE html>
<html lang="en">
<head>
 <%- include('partials/head') %> 
        <link rel="stylesheet" href="stylesheets/index.css">

</head>
<body>

  <%- include("./partials/header") %>
  
        <div class = 'newarrivals container-fluid'>
          <div class='  row'>
            <div id="carouselExampleInterval" class="offset-2 col-8 offset-2 carousel slide carru" data-ride="carousel">
              <div class="carousel-inner">
                <div class="carousel-item active" data-interval="10000">
                  <img src="/images/carrousel.jpg" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item" data-interval="10000">
                  <img src="/images/Descuentos.png" class="d-block w-100" style="max-height: 524px; max-width: 1202px;" alt="...">
                </div>
                <div class="carousel-item" data-interval="10000">
                  <img src="/images/mujeres-sale-index.png" class="d-block w-100" style="max-height: 524px; max-width: 1202px;" alt="...">
                </div>
              </div>
              <a class="carousel-control-prev" href="#carouselExampleInterval" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
              </a>
              <a class="carousel-control-next" href="#carouselExampleInterval" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
              </a>
            </div>
            <div class='col-12'>
              <h3 class='New-Arrivals'><strong></strong></h3>
            </div>
        
         
          </div>
          <div class="row">
            <section class="offset-2 col-4 cajahym">
              <div class="row">
                <a href="/products/genero/hombre/">
                <h5 class="offset-7 col-5 titleH">HOMBRE</h5>
                <img src="/images/hombre grande2.jpg" alt="" class="col-12 imghym imgH">
              </a>
            </div>
            </section>
            <section class="col-4 cajahym">
              <div class="row">
                <a href="/products/genero/mujer/">
                <h5 class="offset-5 col-7 titleM">MUJER</h5>
                <img src="/images/Chica grande3.jpg" alt="" class="col-12 imghym imgM">
              </a>
              </div>
            </section>
            <!--<section class="col-12 cajaSale">
                <a href="/products/sale/si">
                <img src="/images/SALE2.jpg" alt="" class="imgSale">
                </a>
            </div>
            </section> -->
          </div>
              </div>
              <div class = 'newarrivals container-fluid'>
                <div class='  row'>
                  <div class='col-12'>
                   <h3 class='New-Arrivals'>ULTIMAS TENDENCIAS</h3>
                  </div>
                  <section class="cajaP col-xs-10 col-sm-5 col-lg-3">
                    <div class="row">
                    <section class="col-12">
                        <a href=''><img class="fotitos" src="/images/remeras.jpg" alt="Swetter"></a>
                    </section>

            </div>
        </section>
        <section class="cajaP col-xs-10 col-sm-5 col-lg-3">
          <div class="row">
          <section class="col-12">
              <a href=''><img class="fotitos" src="/images/denim.jpg" alt="Swetter"></a>
          </section>

          </div>
      </section>
      <section class="cajaP col-xs-10 col-sm-5 col-lg-3">
        <div class="row">
        <section class="col-12">
            <a href=''><img class="fotitos" src="/images/buzos.jpg" alt="Swetter"></a>
        </section>

        </div>
    </section>
    <section class="cajaP col-xs-10 col-sm-5 col-lg-3">
      <div class="row">
      <section class="col-12">
          <a href=''><img class="fotitos" src="/images/abrigos.jpg" alt="Swetter"></a>
      </section>

      </div>
  </section>
  <section class="cajaP col-xs-10 col-sm-5 col-lg-3">
    <div class="row">
    <section class="col-12">
        <a href=''><img class="fotitos" src="/images/remeras.jpg" alt="Swetter"></a>
    </section>

    </div>
</section>
<section class="cajaP col-xs-10 col-sm-5 col-lg-3">
  <div class="row">
  <section class="col-12">
      <a href=''><img class="fotitos" src="/images/abrigos.jpg" alt="Swetter"></a>
  </section>

  </div>
</section>
     
       </div>
      </div>


   
  
  </body>

</body>
</html>



<%- include("./partials/footer") %>

