<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="/stylesheets/register.css" rel="stylesheet" type="text/css">
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>






    <div class ='container contenedor col-3'>
        <div class = 'row'>
            <div class = 'exit offset-10 col-2'><a class='exitbutton' href='/'><svg class="bi bi-x" width="2em" height="2em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M11.854 4.146a.5.5 0 010 .708l-7 7a.5.5 0 01-.708-.708l7-7a.5.5 0 01.708 0z" clip-rule="evenodd"/>
                <path fill-rule="evenodd" d="M4.146 4.146a.5.5 0 000 .708l7 7a.5.5 0 00.708-.708l-7-7a.5.5 0 00-.708 0z" clip-rule="evenodd"/>
              </svg> </a></div>
            <div class='crearcuenta col-12'><h2> CREAR CUENTA</h2></div>
            <div class = 'descripcion col-12'><h4>Vuelvete un miembro - disfrutaras de ofertas exlusivas, invitaciones y premios.</h4></div>
            <% if (typeof errors != 'undefined') {%>
              <h3 class =' col-12 ERROR'>ERROR !</h3>
              <ul>
                  <% for (let i = 0; i < errors.length; i++){ %>
                      <li>
                          <%=errors[i].msg %>
                      </li>

                  <% } %>
              </ul>
              <% } %>
    <form method = "POST" action = '/users/register/'enctype='multipart/form-data' >
        <label class = 'offset-1 col-6 col-sm-9 col-md-9 col-lg-9 col-xl-10 offset-1'><h3>Nombre</h3></label>
        <input class = 'offset-1 col-6 col-sm-9 col-md-9 col-lg-9 col-xl-10 offset-1'type='text' name='first_name'>
        <label class = 'offset-1 col-6 col-sm-9 col-md-9 col-lg-9 col-xl-10 offset-1'><h3>Apellido</h3></label>
        <input class = 'offset-1 col-6 col-sm-9 col-md-9 col-lg-9 col-xl-10 offset-1'type='text' name='last_name'>
        <label class = 'offset-1 col-6 col-sm-9 col-md-9 col-lg-9 col-xl-10 offset-1' ><h3>Email</h3></label>
        <input class = 'offset-1 col-6 col-sm-9 col-md-9 col-lg-9 col-xl-10 offset-1'type='text' name='email'>
        <label class='offset-1 col-6 col-sm-9 col-md-9 col-lg-9 col-xl-10 offset-1'><h3>Contraseña</h3></label>
        <input class = 'offset-1 col-6 col-sm-9 col-md-9 col-lg-9 col-xl-10 offset-1'type='password' name='password'>
        <h3 class='offset-1 col-6 col-sm-9 col-md-9 col-lg-9 col-xl-10 offset-1'>Category</h3>
        <select  class = 'offset-1 col-6 col-sm-9 col-md-9 col-lg-9 col-xl-10 offset-1'name="category">
            
            <option value="buyer">Buyer</option>
            <option value="admin">Admin</option>
          </select>
        
        <label class = 'offset-1 col-6 col-sm-9 col-md-9 col-lg-9 col-xl-10 offset-1'for=''><h3>Avatar</h3></label>
        <input class = 'offset-1 col-6 col-sm-9 col-md-9 col-lg-9 col-xl-10 offset-1'type='file' name='avatar'>
        <button class = 'offset-1 col-6 col-sm-9 col-md-9 col-lg-9 col-xl-10 offset-1' type='submit'><h5>Crear</h5></button>
    </form>
    </div>
    </div>
</body>
</html>

<%- include("./partials/footer") %>
